/* GENERAL STYLING */

body{
    font-family: Arial, sans-serif;
    background-color:#f8f9fa;
    margin:0;
    padding:0;
}

/* NAVBAR */

.navbar{
    padding:10px 30px;
}

.navbar-brand img{
    background-color:white;
    padding:5px;
    border-radius:10px;
}

.nav-link{
    font-weight:500;
    margin-left:10px;
}

.nav-link:hover{
    color:#f0ad4e !important;
}

/* CAROUSEL */

.carousel-image{
    height:100vh;
    object-fit:cover;
}

/* CAROUSEL CAPTION */

.carousel-caption{
    background:rgba(70, 66, 66, 0.7);
    padding:30px;
    border-radius:15px;
    bottom:30%;
    left:50%;
    transform:translateX(-50%);
    width:60%;
}

/* CAROUSEL HEADING */

.carousel-caption h1{
    font-size:3.5rem;
    font-weight:bold;
    color:rgb(8, 8, 8);
}

/* CAROUSEL TEXT */

.carousel-caption p{
    font-size:1.5rem;
    font: weight 6px;
    color:rgb(2, 2, 2);
}

/* CAROUSEL BUTTON */

.carousel-caption .btn{
    margin-top:10px;
}

/* BUTTONS */

.btn-warning{
    padding:10px 25px;
    font-weight:bold;
    border-radius:5px;
}

/* WELCOME SECTION */

section h2{
    font-weight:bold;
    margin-bottom:20px;
}

/* CARDS */

.card{
    transition:0.4s;
    border:none;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* GALLERY IMAGES */

.gallery-image{
    height:300px;
    width:100%;
    object-fit:cover;
    transition:0.4s;
}

.gallery-image:hover{
    transform:scale(1.03);
}

/* ABOUT IMAGE */

.about-image{
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* FORM STYLING */

form input,
form textarea,
form select{
    border-radius:5px !important;
    padding:10px !important;
}

/* FOOTER */

footer{
    margin-top:50px;
}

footer h5{
    font-weight:bold;
    margin-bottom:15px;
}

footer p{
    margin-bottom:8px;
}

/* RESPONSIVE DESIGN */

@media(max-width:768px){

    .carousel-caption{
        width:85%;
        bottom:20%;
    }

    .carousel-caption h1{
        font-size:2rem;
    }

    .carousel-caption p{
        font-size:1rem;
    }

    .carousel-image{
        height:70vh;
    }

}